<%= form_for(@stock) do |f| %>
  <%= render "shared/errors", object: @stock %>

<fieldset>
  <ol>
    <li class="required">
      <%= f.label :make %>
      <%= f.text_field :make, autofocus: true %>
    </li>
    <li class="required">
      <%= f.label :model %>
      <%= f.text_field :model %>
    </li>
    <li class="required">
      <%= f.label :color %>
      <%= f.text_field :color %>
    </li>
    <li class="required">
      <%= f.label :year %>
      <%= f.text_field :year %>
    </li>
    <li class="required">
      <%= f.label :dealerprice %>
      <%= f.text_field :dealerprice %>
    </li>
    <li class="required">
      <%= f.label :saleprice %>
      <%= f.text_field :saleprice %>
    </li>
    <li class="required">
      <%= f.label :profit %>
      <%= f.text_field :profit %>
    </li>
    <li class="required">
      <%= f.label :inventorystatus %>
      <%= f.text_field :inventorystatus %>
    </li>
    <li class="required">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </li>
    <li class="required">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </li>
  </ol>
  <%= f.submit %>
  <%= link_to "Cancel", automotives_path, class: 'button' %>
</fielset>
<% end %>
