<article>
  <header>
    <h1> <%= "#{@stock.make} #{@stock.model}"  %> </h1>
  </header>

    <div id="container">
      <section id="sidebar">
        <%= render "layouts/editsidebar" %>
      </section>
    </div>

  <h5><%= pluralize(@buyers.size, 'User Favorite') %></h5><br/>

  <% if @stock.images.attached? %>
  <p>
    <strong>Images:</strong>
    <br>
    <% @stock.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
  <% end %>

  <br/>

  <% if current_user_admin? %>
    <% if @buyers.any? %>
    <h6>Potential Buyers</h6>
      <ul>
        <% @buyers.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user %>
    <% if @current_favorite %>
      <%= button_to "Unfavorite", stock_favorite_path(@stock, @current_favorite), method: :delete %>
        <% else %>
      <%= button_to "Favorite", stock_favorites_path(@stock) %>
    <% end %>
  <% end %>

</article><br/>

<footer>
<%= link_to "Write Review", new_stock_review_path(@stock),
             class: 'button ok review' %>
<%= link_to "Check Reviews", stock_reviews_path(@stock), class: 'button ok review' %>
</footer>
