<article>
  <header>
    <h1><%= @stock.make %> <%= @stock.model %></h1>
  </header>
  <h3>Year</h3>
  <p>
    <%= @stock.year %>
  </p>
  <h3>Color</h3>
  <p>
    <%= @stock.color %>
  </p>
  <h3>Dealer Price</h3>
  <p>
    <%= @stock.dealerprice %>
  </p>
  <h3>Sale Price</h3>
  <p>
    <%= @stock.saleprice %>
  </p>
  <h3>Profit</h3>
  <p>
    <%= @stock.profit %>
  </p>
  <h3>Inventory Status</h3>
  <p>
    <%= @stock.inventorystatus %>
  </p>
  <p>
  <%= @stock.url %>
  </p>
</article>

<nav>
  <%= link_to "All Inventory", root_path %> |
  <%= link_to "Edit", edit_stock_path(@stock) %> |
  <%= link_to("Add New", new_stock_path) %> |
  <%= link_to "Delete", stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>
