<article>
  <header>
    <h1> <%= "#{@stock.make} #{@stock.model}"  %> </h1>
  </header>
<<<<<<< HEAD

    <div id="container">
      <section id="sidebar">
        <%= render "layouts/editsidebar" %>
      </section>
    </div>

  <h5><%= pluralize(@buyers.size, 'User Favorite') %></h5><br/>

  space for car photos here

  <br/>

=======
  <div id="container">
    <section id="sidebar">
      <%= render "layouts/editsidebar" %>
    </section>
  </div>
  <h5>
    <%= pluralize(@buyers.size, 'Potential Buyers') %>
  </h5>
  <h3>Reviews</h3>
  <p>
    <%= link_to pluralize(@stock.reviews.size, "review"),
                stock_reviews_path(@stock) %>
  </p>
>>>>>>> f4449fc4151af4399219b151aacaec9266660658
  <% if current_user_admin? %>
    <% if @buyers.any? %>
    <hr/>
    <h6>Potential Buyers</h6>
      <ul>
        <% @buyers.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

<<<<<<< HEAD
  <% if current_user %>
    <% if @current_favorite %>
      <%= button_to "Unfavorite", stock_favorite_path(@stock, @current_favorite), method: :delete %>
        <% else %>
      <%= button_to "Favorite", stock_favorites_path(@stock) %>
    <% end %>
  <% end %>
=======

    <%= url_for(@stock.uploads) %>

>>>>>>> f4449fc4151af4399219b151aacaec9266660658

</article>

<footer>
<%= link_to "Write Review", new_stock_review_path(@stock),
             class: 'button ok review' %>
</footer>
