<article>
  <header>
    <h1> <%= "#{@stock.make} #{@stock.model}"  %> </h1>
  </header>
  <div id="container">
    <section id="sidebar">
      <%= render "layouts/editsidebar" %>
    </section>
  </div>
  <h5>
    <%= pluralize(@buyers.size, 'Potential Buyers') %>
  </h5>
  <h3>Reviews</h3>
  <p>
    <%= link_to pluralize(@stock.reviews.size, "review"),
                stock_reviews_path(@stock) %>
  </p>
  <% if current_user_admin? %>
    <% if @buyers.any? %>
    <hr/>
    <h6>Potential Buyers</h6>
      <ul>
        <% @buyers.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>


    <%= url_for(@stock.uploads) %>


</article>

<footer>
<%= link_to "Write Review", new_stock_review_path(@stock),
             class: 'button ok review' %>
</footer>
