<article>
  <header>
    <h1><%= @inventory.make %> <%= @inventory.model %></h1>
  </header>
  <h3>Color</h3>
  <p>
    <%= @inventory.color %>
  </p>
  <h3>Year</h3>
  <p>
    <%= @inventory.year %>
  </p>
  <h3>Sale Price</h3>
  <p>
    <%= @inventory.saleprice %>
  </p>
  <h3>Inventory Status</h3>
  <p>
    <%= @inventory.inventorystatus %>
  </p>
</article>

<%= link_to("All Inventory", root_path) %>
